@import "../../../../public/assets/styles/sass/responsive-general.sass";

div.div-signin-container
{
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 2fr;
    div.div-signin-image-container
    {
        height: 100vh;
        img#img-signin-background
        {
            width: 100%;
            height: 100%;
            background-image: url("/assets/images/signin-background.jpg");
            background-position: center;
            background-size: cover;
        }
    }
    div.div-signin-form-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        h3
        {
            text-align: center;
        }
        div.div-signin-button-container
        {
            margin-top: 20px;
            button
            {
                width: 100%;
            }
        }
    }

    @include respond-to(laptop)
    {
        grid-template-columns: 1fr 1fr;
    }

    @include respond-to(tablet)
    {
        grid-template-columns: 1fr;
        div.div-signin-image-container
        {
            display: none;
        }
    }
}