/* IMPORT - START */

@import ../scss/initialization-general
@import vendor-prefix-general
@import responsive-general

/* IMPORT - END */


/* GENERAL - START */

label.label-input
    display: block
    margin-top: 10px
    font-size: 14px

input.input-general,
textarea.textarea-general,
select.select-general
    display: block
    width: 100%
    font-size: 16px
    padding: 7.5px 15px
    margin: 5px 0
    border-radius: 5px
    border: none
    option
        padding-inline: 5px
        min-block-size: 2em
        padding-block-end: 20px
    
input.input-search
    max-width: 170px
    @include respond-to(laptop)
        max-width: 120px

textarea.textarea-general
    resize: none

mat-form-field
    margin-top: 5px
    width: 100%
    div.mat-mdc-form-field-focus-overlay
        display: none
    div.mdc-line-ripple
        display: none
    div.mat-mdc-text-field-wrapper
        border-radius: 5px
        div.mat-mdc-form-field-flex
            div.mat-mdc-form-field-infix
                padding: 7.57px 0px
                min-height: unset
                mat-date-range-input
                    div.mat-date-range-input-container
                        div.mat-date-range-input-wrapper
                            width: auto
                            input.mat-end-date
                                padding-left: 5px
                            &:first-child
                                span
                                    padding-right: 10px
            div.mat-mdc-form-field-icon-suffix
                mat-datepicker-toggle.mat-datepicker-toggle
                    button.mdc-icon-button
                        padding-top: 5px
                        padding-bottom: 0px
                        height: auto
                        font-size: unset
                        svg
                            width: 20px
                            height: 20px
                        span.mat-mdc-button-persistent-ripple,
                        span.mat-ripple
                            height: 34px
                            width: 34px
                            left: 6.5px
                            top: -2px
    div.mat-mdc-form-field-subscript-wrapper
        display: none
    div.mat-mdc-form-field-focus-overlay
        display: none
    div.mat-form-field-underline
        display: none

section#section-main
    div.div-select-container
         @include scrollbar-thumb-visibility(visible)

/* GENERAL - END */
