<h2>Employee List</h2>

<div class="div-container-card">
    <section class="section-card">
        
        <div class="div-table-header">
            <div class="div-table-left-header">
                <app-inputicon [placeholder]="'Search'" [position]="'left'"></app-inputicon>
                <app-inputicon [placeholder]="'Search'" [position]="'left'"></app-inputicon>

                <button id="button-process" class="button-general button-process button-light icon-rotate"
                    type="button"></button>
            </div>
            <div class="div-table-right-header">
                <button id="button-process" class="button-general button-success button-right-icon icon-plus" type="button">Add
                    Data</button>
            </div>
        </div>

        <div class="div-table-container">
            <div class="div-table-content">
                <table>
                    <thead>
                        <tr>
                            <th class="th-index-number">No</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Birth Date</th>
                            <th>Basic Salary</th>
                            <th>Group</th>
                            <th class="th-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (dataTable of _arrayModelEmployee; track dataTable.username; let numberIndex = $index)
                        {
                        <tr>
                            <td class="td-index-number">{{ (_employeeTable?.startData ?? 0) + numberIndex }}</td>
                            <td>{{ dataTable.username }}</td>
                            <td>{{ dataTable.firstName }} {{ dataTable.lastName }}</td>
                            <td>{{ dataTable.email }}</td>
                            <td>{{ dataTable.birthDate | date: "dd MMMM yyyy" }}</td>
                            <td>{{ dataTable.basicSalary | currency: 'IDR' : 'symbol' : '1.0-0' }}</td>
                            <td>{{ dataTable.group }}</td>
                            <td>{{ dataTable.status }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <app-navtable
            [_modelTable]="_employeeTable"
            (pageChange)="onPageChange($event)">
        </app-navtable>
    </section>
</div>