<h2>Employee List</h2>

<div class="div-container-card">
    <section class="section-card">
        
        <div class="div-table-header">
            <div class="div-table-left-header">
                <form [formGroup]="_formSearchEmployee" (ngSubmit)="onSearch()">
                    <div class="div-search-input-container">
                        <label for="input-name">Name</label>
                        <input class="input-general input-search" formControlName="name" type="text" id="input-name" name="input-name" placeholder="Input Name">
                    </div>
    
                    <div class="div-search-input-container">
                        <label for="input-name">Email</label>
                        <input class="input-general input-search" formControlName="email" type="text" id="input-email" name="input-email" placeholder="Input Email">
                    </div>
    
                    <div class="div-search-button-container">
                        <button id="button-submit" class="button-general button-process button-light icon-magnifying-glass" type="submit"></button>
                        <button id="button-clear" class="button-general button-process button-light icon-rotate" type="button" (click)="clearSearch()"></button>
                    </div>
                    
                </form>
            </div>
            <div class="div-table-right-header">
                <button id="button-process" class="button-general button-success button-right-icon icon-plus" type="button"
                    (click)="goToInsert()">Add Data</button>
            </div>
        </div>

        <div class="div-table-container">
            <div class="div-table-content">
                <table>
                    <thead>
                        <tr>
                            <th class="th-index-number">No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Birth Date</th>
                            <th>Group</th>
                            <th class="th-center">Status</th>
                            <th class="th-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (dataTable of _arrayModelEmployee; track dataTable.username; let numberIndex = $index)
                        {
                        <tr>
                            <td (click)="goToDetail(dataTable.username)" class="td-index-number td-pointer">{{ (_employeeTable.startData ?? 0) + numberIndex }}</td>
                            <td (click)="goToDetail(dataTable.username)" class="td-pointer">{{ dataTable.firstName }} {{ dataTable.lastName }}</td>
                            <td (click)="goToDetail(dataTable.username)" class="td-pointer">{{ dataTable.email }}</td>
                            <td (click)="goToDetail(dataTable.username)" class="td-pointer">{{ dataTable.birthDate | date: "dd MMMM yyyy" }}</td>
                            <td (click)="goToDetail(dataTable.username)" class="td-pointer">{{ dataTable.group }}</td>
                            <td class="td-status">
                                <div class="div-status-container">
                                    <div class="div-status"
                                    [ngClass]="{'div-status-success': dataTable.status === 'Active',
                                        'div-status-danger': dataTable.status === 'Inactive'}">
                                        <span>{{ dataTable.status }}</span>
                                        <i class="i-icon i-table-status-icon"
                                        [ngClass]="{'icon-check': dataTable.status === 'Active',
                                            'icon-xmark': dataTable.status === 'Inactive'}"></i>
                                    </div>
                                </div>
                            </td>
                            <td class="td-action">
                                <div class="div-td-button-container">
                                    <button id="button-update{{numberIndex}}" class="button-general button-warning icon-pen button-rounded" type="button"
                                        (click)="goToupdate(dataTable.username)"></button>
                                    <button id="button-delete{{numberIndex}}" class="button-general button-danger icon-trash-can button-rounded" type="button"
                                        (click)="callDeleteEmployeeByUsername(dataTable.username, dataTable.firstName + ' ' + dataTable.lastName )"></button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <app-navtable
            [_modelTable]="_employeeTable"
            (pageChange)="onPageChange($event)">
        </app-navtable>
    </section>
</div>