<h2>Employee Detail</h2>

<div class="div-container-form">
    <section class="section-card">
        <div class="div-container-two-column">
            <div>
                <label class="label-input">Username</label>
                <p class="paragraph-detail">{{ _modelEmployee?.username }}</p>

                <label class="label-input">First Name</label>
                <p class="paragraph-detail">{{ _modelEmployee?.firstName }}</p>

                <label class="label-input">Last Name</label>
                <p class="paragraph-detail">{{ _modelEmployee?.lastName }}</p>

                <label class="label-input">Email</label>
                <p class="paragraph-detail">{{ _modelEmployee?.email }}</p>

                <label class="label-input">Birth Date</label>
                <p class="paragraph-detail">{{ _modelEmployee?.birthDate | date: "dd MMMM yyyy" }}</p>

            </div>
            <div>
                <label class="label-input">Basic Salary</label>
                <p class="paragraph-detail">Rp {{ _modelEmployee?.basicSalary | numberPipe }},00</p>

                <label class="label-input">Group</label>
                <p class="paragraph-detail">{{ _modelEmployee?.group }}</p>

                <label class="label-input">Description</label>
                <p class="paragraph-detail">{{ _modelEmployee?.description }}</p>
                
                <label class="label-input">Status</label>
                <p class="paragraph-detail">{{ _modelEmployee?.status }}</p>

            </div>
        </div>

        <div class="div-button-container-right">
            <button class="button-general button-light" type="button" (click)="goToList()">Ok</button>
        </div>
    </section>
</div>